<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884082112546-0r2igg66ctne8mqk7lsl0uond0ttu94n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884082112546-0r2igg66ctne8mqk7lsl0uond0ttu94n</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGljG53huof_UMq_6Q-Lo3yEOU3Xv9j0</string>
	<key>GCM_SENDER_ID</key>
	<string>884082112546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buzzebees.xDtac</string>
	<key>PROJECT_ID</key>
	<string>dtacsdktesting</string>
	<key>STORAGE_BUCKET</key>
	<string>dtacsdktesting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884082112546:ios:2b34bb85d40419e708327b</string>
	<key>DATABASE_URL</key>
	<string>https://dtacsdktesting.firebaseio.com</string>
</dict>
</plist>